.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(199, 164, 106, 0.9);
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0);
  z-index: 9999;
  mix-blend-mode: inherit;

  transition:
    opacity 0.25s ease,
    width 0.2s ease,
    height 0.2s ease,
    background 0.2s ease,
    border 0.2s ease;

  &.pointer {
    width: 36px;
    height: 36px;
    background: transparent;
    border: 2px solid rgba(199, 164, 106, 0.9);
  }

  &.hidden {
    opacity: 0;
  }
}
